.cart {
   text-align: center;
   font-size: 2em; 
   font-weight: bold;
   margin: 20px 0;
   text-transform: uppercase;
   letter-spacing: 3px;
   opacity: 0;
   animation: fadeIn 1s ease forwards;
}

.cart-message {
    text-align: center;
    margin-bottom: 20px;
}

.cart-message h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.cart-message a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #14b30e;
    font-weight: bold;
    height: 200px;
    
}


@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }   
}



.clean-button {
    border: none;
    background-color: rgb(167, 182, 114);
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.clean-button:hover {
    opacity: 0.8;
}

.end-button {
    border: none;
    text-decoration: none;
    background-color: #2196F3;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}

.total {
    font-size: 1.5em;
}

.cart-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    align-items: stretch;
}

.cart-footer {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    background-color: #eaedf1 ;
    border-top: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;

}