.item-count-container {
    display: flex;
    align-items: center;
}

.item-count-button {
    padding: 8px 16px;
    border: none;
    background-color: #4D882D;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease ;
   
}

.item-count-button:hover {
    background-color: #347820;
}

.item-count-number {
    margin: 0 16px;
    font-size: 18px;
}

.add-to-cart-button {
    padding: 10px 20px;
    border: none;
    background-color: beige;
    color: black;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-to-cart-button:hover {
    background-color: rgb(224, 224, 44);
}

