.title {
    text-align: center;
    font-size: 1.4em;
    margin-top: 20px;
    margin-bottom: 20px;
    letter-spacing: 1.5px;
    
}

.checkout-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.checkout-form label {
    display: block;
    margin-bottom: 5px;
}

.checkout-form input[type="text"],
.checkout-form input[type="number"],
.checkout-form input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.checkout-form button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.checkout-form button[type="submit"]:hover {
    background-color: #0056b3;
}

.checkout-form .error-message {
    color: red;
    margin-top: 10px;
}