.footer {
    width: 100%;
    background-color: black;
    color: white;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footerTitulo {
    font-size: 14px;
}